/* screen - 1467-bedford-avenue-archive-4 */

.x1467-bedford-avenue-archive-4 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1117px;
  padding: 18.5px 44px;
  width: 1728px;
}

.x1467-bedford-avenue-archive-4 .overlap-group-container {
  align-items: center;
  align-self: flex-start;
  display: flex;
  gap: 759px;
  min-width: 1604px;
}

.x1467-bedford-avenue-archive-4 .overlap-group6 {
  height: 126px;
  position: relative;
  width: 623px;
}

.x1467-bedford-avenue-archive-4 .title {
  color: var(--amber);
  font-weight: 900;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 623px;
}

.x1467-bedford-avenue-archive-4 .vector {
  height: 126px;
  left: 403px;
  position: absolute;
  top: 0;
  width: 135px;
}

.x1467-bedford-avenue-archive-4 .overlap-group8 {
  height: 62px;
  margin-bottom: 6.94px;
  position: relative;
  width: 222px;
}

.x1467-bedford-avenue-archive-4 .group-81 {
  cursor: pointer;
  height: 62px;
  left: 0;
  min-width: 222px;
  top: 0;
}

.x1467-bedford-avenue-archive-4 .overlap-group {
  align-items: flex-end;
  background-color: var(--amber);
  border-radius: 30px;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  min-width: 220px;
  padding: 3px 30px;
}

.x1467-bedford-avenue-archive-4 .overlap-group9 {
  height: 867px;
  margin-right: 44.0px;
  margin-top: 2px;
  position: relative;
  width: 1548px;
}

.x1467-bedford-avenue-archive-4 .overlap-group5 {
  height: 867px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1548px;
}

.x1467-bedford-avenue-archive-4 .digitized-archival-materials {
  color: var(--white);
  font-weight: 900;
  left: 654px;
  line-height: normal;
  position: absolute;
  top: 77px;
  white-space: nowrap;
  width: 400px;
}

.x1467-bedford-avenue-archive-4 .rectangle-162 {
  background-color: var(--white-2);
  border-radius: 20px;
  height: 643px;
  left: 643px;
  position: absolute;
  top: 189px;
  width: 905px;
}

.x1467-bedford-avenue-archive-4 .image-47 {
  height: 316px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 562px;
}

.x1467-bedford-avenue-archive-4 .line-88 {
  height: 754px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 1px;
}

.x1467-bedford-avenue-archive-4 .flyer-distributed-by {
  color: var(--white);
  font-weight: 600;
  left: 735px;
  line-height: normal;
  position: absolute;
  top: 631px;
  width: 742px;
}

.x1467-bedford-avenue-archive-4 .source-shirley-chisholm-archives {
  color: var(--white);
  font-weight: 300;
  left: 852px;
  line-height: normal;
  position: absolute;
  top: 565px;
  width: 548px;
}

.x1467-bedford-avenue-archive-4 .rectangle-163 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 564px;
}

.x1467-bedford-avenue-archive-4 .address {
  color: var(--amber);
  font-weight: 900;
  left: 109px;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 601px;
}

.x1467-bedford-avenue-archive-4 .overlap-group4 {
  height: 421px;
  left: 1px;
  position: absolute;
  top: 446px;
  width: 799px;
}

.x1467-bedford-avenue-archive-4 .rectangle-161 {
  height: 386px;
  left: 0;
  position: absolute;
  top: 0;
  width: 562px;
}

.x1467-bedford-avenue-archive-4 .group-115 {
  flex-direction: column;
  gap: 14px;
  left: 20px;
  min-height: 313px;
  top: 27px;
  width: 779px;
}

.x1467-bedford-avenue-archive-4 .overlap-group2 {
  height: 124px;
  position: relative;
  width: 759px;
}

.x1467-bedford-avenue-archive-4 .overlap-group-1 {
  height: 121px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 751px;
}

.x1467-bedford-avenue-archive-4 .number {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 572px;
}

.x1467-bedford-avenue-archive-4 .address-1 {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 593px;
}

.x1467-bedford-avenue-archive-4 .site-address {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 454px;
}

.x1467-bedford-avenue-archive-4 .year-built {
  color: var(--white);
  font-weight: 600;
  left: 41px;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 117px;
}

.x1467-bedford-avenue-archive-4 .historic-uses {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 93px;
  width: 159px;
}

.x1467-bedford-avenue-archive-4 .overlap-group3 {
  height: 175px;
  margin-left: 4px;
  position: relative;
  width: 755px;
}

.x1467-bedford-avenue-archive-4 .overlap-group1 {
  height: 175px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 738px;
}

.x1467-bedford-avenue-archive-4 .center-for-brooklyn-history {
  color: var(--amber);
  font-weight: 600;
  left: 145px;
  line-height: normal;
  position: absolute;
  top: 71px;
  width: 593px;
}

.x1467-bedford-avenue-archive-4 .contributor {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 71px;
  width: 150px;
}

.x1467-bedford-avenue-archive-4 .current-uses {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 154px;
}

.x1467-bedford-avenue-archive-4 .get-in-touch-with-th {
  color: transparent;
  font-weight: 400;
  left: 24px;
  line-height: 24px;
  position: absolute;
  top: 292px;
  width: 507px;
}

.x1467-bedford-avenue-archive-4 .button {
  align-items: center;
  background-color: var(--amber);
  border: 1px solid;
  border-color: var(--heavy-metal);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 39px;
  justify-content: center;
  left: 692px;
  overflow: hidden;
  padding: 12px;
  position: absolute;
  top: 761px;
  width: 177px;
}

.x1467-bedford-avenue-archive-4 .button-1 {
  color: var(--eerie-black);
  font-weight: 600;
  line-height: normal;
  margin-bottom: -5.50px;
  margin-top: -7.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x1467-bedford-avenue-archive-4 .image-70 {
  height: 314px;
  left: 852px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 487px;
}

.x1467-bedford-avenue-archive-4 .image-source-https {
  color: var(--white);
  font-weight: 300;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 401px;
  width: 398px;
}

.x1467-bedford-avenue-archive-4 .the-paths-to-power-p {
  color: transparent;
  font-weight: 400;
  left: 653px;
  line-height: normal;
  position: absolute;
  top: 117px;
  width: 883px;
}

.x1467-bedford-avenue-archive-4 .overlap-group7 {
  height: 67px;
  margin-left: 360.0px;
  margin-top: 17px;
  position: relative;
  width: 332px;
}

.x1467-bedford-avenue-archive-4 .activists {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 332px;
}

.x1467-bedford-avenue-archive-4 .iconchevron-down {
  height: 30px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 30px;
}
