/* screen - brooklyn-girls-high-school-lena */

.brooklyn-girls-high-school-lena {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1117px;
  overflow: hidden;
  padding: 18.5px 0;
  width: 1728px;
}

.brooklyn-girls-high-school-lena .overlap-group-container {
  align-items: center;
  display: flex;
  gap: 759px;
  margin-right: 36.0px;
  min-width: 1604px;
}

.brooklyn-girls-high-school-lena .overlap-group8 {
  height: 126px;
  position: relative;
  width: 623px;
}

.brooklyn-girls-high-school-lena .title {
  color: var(--amber);
  font-weight: 900;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 623px;
}

.brooklyn-girls-high-school-lena .vector {
  height: 126px;
  left: 403px;
  position: absolute;
  top: 0;
  width: 135px;
}

.brooklyn-girls-high-school-lena .overlap-group4 {
  height: 62px;
  margin-bottom: 6.94px;
  position: relative;
  width: 222px;
}

.brooklyn-girls-high-school-lena .group-81 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 62px;
  left: 0;
  min-width: 222px;
  position: absolute;
  top: 0;
}

.brooklyn-girls-high-school-lena .overlap-group {
  align-items: flex-end;
  background-color: var(--amber);
  border-radius: 30px;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  min-width: 220px;
  padding: 3px 30px;
}

.brooklyn-girls-high-school-lena .overlap-group9 {
  align-self: flex-end;
  height: 836px;
  margin-right: -77px;
  margin-top: 12px;
  position: relative;
  width: 1739px;
}

.brooklyn-girls-high-school-lena .overlap-group5 {
  height: 836px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1176px;
}

.brooklyn-girls-high-school-lena .rectangle-162 {
  height: 54px;
  width: 564px;
}

.brooklyn-girls-high-school-lena .name {
  color: var(--amber);
  font-weight: 900;
  left: 60px;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 601px;
}

.brooklyn-girls-high-school-lena .overlap-group2 {
  height: 399px;
  left: 2px;
  position: absolute;
  top: 437px;
  width: 779px;
}

.brooklyn-girls-high-school-lena .rectangle-161 {
  height: 362px;
  width: 562px;
}

.brooklyn-girls-high-school-lena .overlap-group1 {
  height: 284px;
  left: 20px;
  position: absolute;
  top: 27px;
  width: 759px;
}

.brooklyn-girls-high-school-lena .overlap-group-1 {
  height: 284px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 751px;
}

.brooklyn-girls-high-school-lena .number {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 593px;
}

.brooklyn-girls-high-school-lena .address {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 593px;
}

.brooklyn-girls-high-school-lena .name-1 {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 137px;
  width: 593px;
}

.brooklyn-girls-high-school-lena .center-for-brooklyn-history {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 180px;
  width: 593px;
}

.brooklyn-girls-high-school-lena .site-address {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 454px;
}

.brooklyn-girls-high-school-lena .contributor {
  color: var(--white);
  font-weight: 600;
  left: 13px;
  line-height: normal;
  position: absolute;
  top: 180px;
  width: 150px;
}

.brooklyn-girls-high-school-lena .year-built {
  color: var(--white);
  font-weight: 600;
  left: 41px;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 117px;
}

.brooklyn-girls-high-school-lena .historic-uses {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 93px;
  width: 159px;
}

.brooklyn-girls-high-school-lena .current-uses {
  color: var(--white);
  font-weight: 600;
  left: 4px;
  line-height: normal;
  position: absolute;
  top: 137px;
  white-space: nowrap;
  width: 154px;
}

.brooklyn-girls-high-school-lena .get-in-touch-with-th {
  color: transparent;
  font-weight: 400;
  left: 28px;
  line-height: 24px;
  position: absolute;
  top: 270px;
  width: 507px;
}

.brooklyn-girls-high-school-lena .image-47 {
  height: 295px;
  left: 2px;
  position: absolute;
  top: 91px;
  width: 562px;
}

.brooklyn-girls-high-school-lena .line-88 {
  height: 754px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 1px;
}

.brooklyn-girls-high-school-lena .name-2 {
  color: var(--amber);
  font-weight: 900;
  left: 639px;
  line-height: normal;
  position: absolute;
  top: 67px;
  white-space: nowrap;
  width: 400px;
}

.brooklyn-girls-high-school-lena .image-48 {
  height: 677px;
  left: 639px;
  object-fit: cover;
  position: absolute;
  top: 108px;
  width: 448px;
}

.brooklyn-girls-high-school-lena .overlap-group7 {
  align-items: flex-start;
  background-image: url(../img/rectangle-159-1.svg);
  background-size: 100% 100%;
  display: flex;
  height: 527px;
  left: 1133px;
  min-width: 455px;
  padding: 12px 19px;
  position: absolute;
  top: 108px;
}

.brooklyn-girls-high-school-lena .name-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 422px;
  width: 412px;
}

.brooklyn-girls-high-school-lena .overlap-group6 {
  height: 135px;
  left: 1133px;
  position: absolute;
  top: 654px;
  width: 606px;
}

.brooklyn-girls-high-school-lena .rectangle-160 {
  cursor: pointer;
  height: 135px;
  width: 455px;
}

.brooklyn-girls-high-school-lena .next-activist {
  color: var(--amber);
  font-weight: 900;
  left: 133px;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
  width: 473px;
}

.brooklyn-girls-high-school-lena .name-4 {
  color: var(--white);
  font-weight: 600;
  left: 133px;
  line-height: normal;
  position: absolute;
  top: 74px;
  white-space: nowrap;
  width: 473px;
}

.brooklyn-girls-high-school-lena .arrow_back-1 {
  height: 28px;
  left: 318px;
  position: absolute;
  top: 32px;
  width: 28px;
}

.brooklyn-girls-high-school-lena .group-container {
  height: 99px;
  left: 22px;
  position: absolute;
  top: 18px;
  width: 96px;
}

.brooklyn-girls-high-school-lena .overlap-group-2 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 96px;
}

.brooklyn-girls-high-school-lena .ellipse-1 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 43.93px;
  height: 88px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 88px;
}

.brooklyn-girls-high-school-lena .iconuser {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 96px;
}

.brooklyn-girls-high-school-lena .image-source-https {
  color: var(--white);
  font-weight: 300;
  left: 2px;
  line-height: normal;
  position: absolute;
  top: 391px;
  width: 398px;
}

.brooklyn-girls-high-school-lena .archival-materials {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 200.0px;
  margin-top: 25px;
  min-height: 38px;
  width: 332px;
}

.brooklyn-girls-high-school-lena .iconchevron-down {
  cursor: pointer;
  height: 30px;
  margin-left: 84.0px;
  margin-top: 1px;
  width: 30px;
}

.brooklyn-girls-high-school-lena .rectangle {
  left: 0;
  position: absolute;
  top: 0;
}
