/* screen - brooklyn-college-archive-3 */

.brooklyn-college-archive-3 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1117px;
  padding: 18.5px 44px;
  width: 1728px;
}

.brooklyn-college-archive-3 .overlap-group-container {
  align-items: center;
  display: flex;
  gap: 759px;
  min-width: 1604px;
}

.brooklyn-college-archive-3 .overlap-group5 {
  height: 126px;
  position: relative;
  width: 623px;
}

.brooklyn-college-archive-3 .title {
  color: var(--amber);
  font-weight: 900;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 623px;
}

.brooklyn-college-archive-3 .vector {
  height: 126px;
  left: 403px;
  position: absolute;
  top: 0;
  width: 135px;
}

.brooklyn-college-archive-3 .overlap-group2 {
  height: 62px;
  margin-bottom: 6.94px;
  position: relative;
  width: 222px;
}

.brooklyn-college-archive-3 .overlap-group {
  align-items: flex-end;
  background-color: var(--amber);
  border-radius: 30px;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  left: 0;
  min-width: 220px;
  padding: 3px 30px;
  position: absolute;
  top: 0;
}

.brooklyn-college-archive-3 .overlap-group6 {
  height: 885px;
  margin-left: 19px;
  margin-top: 1px;
  position: relative;
  width: 1553px;
}

.brooklyn-college-archive-3 .overlap-group3 {
  height: 885px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1553px;
}

.brooklyn-college-archive-3 .digitized-archival-materials {
  color: var(--white);
  font-weight: 900;
  left: 659px;
  line-height: normal;
  position: absolute;
  top: 78px;
  white-space: nowrap;
  width: 400px;
}

.brooklyn-college-archive-3 .rectangle-162 {
  background-color: var(--white-2);
  border-radius: 20px;
  height: 643px;
  left: 648px;
  position: absolute;
  top: 190px;
  width: 905px;
}

.brooklyn-college-archive-3 .line-88 {
  height: 754px;
  left: 607px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 1px;
}

.brooklyn-college-archive-3 .button-1 {
  left: 1337px;
}

.brooklyn-college-archive-3 .button {
  color: var(--eerie-black);
  font-weight: 600;
  line-height: normal;
  margin-bottom: -5.50px;
  margin-top: -7.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.brooklyn-college-archive-3 .name {
  color: var(--amber);
  font-weight: 900;
  left: 143px;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 601px;
}

.brooklyn-college-archive-3 .overlap-group1 {
  height: 450px;
  left: 0;
  position: absolute;
  top: 435px;
  width: 784px;
}

.brooklyn-college-archive-3 .address {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 593px;
}

.brooklyn-college-archive-3 .name-1 {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  line-height: normal;
  position: absolute;
  top: 273px;
  width: 593px;
}

.brooklyn-college-archive-3 .site-address {
  color: var(--white);
  font-weight: 600;
  left: 33px;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 159px;
}

.brooklyn-college-archive-3 .year-built {
  color: var(--white);
  font-weight: 600;
  left: 66px;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 117px;
}

.brooklyn-college-archive-3 .historic-uses {
  color: var(--white);
  font-weight: 600;
  left: 25px;
  line-height: normal;
  position: absolute;
  top: 184px;
  width: 159px;
}

.brooklyn-college-archive-3 .current-uses {
  color: var(--white);
  font-weight: 600;
  left: 29px;
  line-height: normal;
  position: absolute;
  top: 229px;
  white-space: nowrap;
  width: 154px;
}

.brooklyn-college-archive-3 .contributor {
  color: var(--white);
  font-weight: 600;
  left: 46px;
  line-height: normal;
  position: absolute;
  top: 273px;
  width: 150px;
}

.brooklyn-college-archive-3 .rectangle-161 {
  height: 409px;
  left: 0;
  position: absolute;
  top: 0;
  width: 562px;
}

.brooklyn-college-archive-3 .get-in-touch-with-th {
  color: transparent;
  font-weight: 400;
  left: 25px;
  line-height: 24px;
  position: absolute;
  top: 321px;
  width: 507px;
}

.brooklyn-college-archive-3 .button-2 {
  left: 689px;
}

.brooklyn-college-archive-3 .the-paths-to-power-p {
  color: transparent;
  font-weight: 400;
  left: 658px;
  line-height: normal;
  position: absolute;
  top: 118px;
  width: 883px;
}

.brooklyn-college-archive-3 .image-source-getty {
  color: var(--white);
  font-weight: 300;
  left: 5px;
  line-height: normal;
  position: absolute;
  top: 398px;
  width: 557px;
}

.brooklyn-college-archive-3 .overlap-group4 {
  align-self: center;
  height: 67px;
  margin-left: 360.0px;
  position: relative;
  width: 332px;
}

.brooklyn-college-archive-3 .activists {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 332px;
}

.brooklyn-college-archive-3 .iconchevron-down {
  height: 30px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 30px;
}

.brooklyn-college-archive-3 .button-3 {
  align-items: center;
  background-color: var(--amber);
  border: 1px solid;
  border-color: var(--heavy-metal);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 39px;
  justify-content: center;
  overflow: hidden;
  padding: 12px;
  position: absolute;
  top: 762px;
  width: 177px;
}
