/* screen - brooklyn-college-lucille */

.brooklyn-college-lucille {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1117px;
  overflow: hidden;
  padding: 18.5px 0;
  width: 1728px;
}

.brooklyn-college-lucille .overlap-group-container {
  align-items: center;
  display: flex;
  gap: 759px;
  margin-right: 36.0px;
  min-width: 1604px;
}

.brooklyn-college-lucille .overlap-group7 {
  height: 126px;
  position: relative;
  width: 623px;
}

.brooklyn-college-lucille .title {
  color: var(--amber);
  font-weight: 900;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 623px;
}

.brooklyn-college-lucille .vector {
  height: 126px;
  left: 403px;
  position: absolute;
  top: 0;
  width: 135px;
}

.brooklyn-college-lucille .overlap-group5 {
  height: 62px;
  margin-bottom: 6.94px;
  position: relative;
  width: 222px;
}

.brooklyn-college-lucille .overlap-group {
  align-items: flex-end;
  background-color: var(--amber);
  border-radius: 30px;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  left: 0;
  min-width: 220px;
  padding: 3px 30px;
  position: absolute;
  top: 0;
}

.brooklyn-college-lucille .overlap-group8 {
  align-self: flex-end;
  height: 909px;
  margin-right: -83px;
  margin-top: 2px;
  position: relative;
  width: 1748px;
}

.brooklyn-college-lucille .overlap-group6 {
  align-items: flex-end;
  background-image: url(../img/rectangle-159-5.svg);
  background-size: 100% 100%;
  display: flex;
  height: 317px;
  left: 1136px;
  min-width: 455px;
  padding: 4px 19px;
  position: absolute;
  top: 118px;
}

.brooklyn-college-lucille .name {
  letter-spacing: 0;
  line-height: normal;
  min-height: 288px;
  width: 412px;
}

.brooklyn-college-lucille .overlap-group3 {
  height: 135px;
  left: 1142px;
  position: absolute;
  top: 664px;
  width: 606px;
}

.brooklyn-college-lucille .rectangle-160 {
  cursor: pointer;
  height: 135px;
  left: 0;
  width: 455px;
}

.brooklyn-college-lucille .next-activist {
  color: var(--amber);
  font-weight: 900;
  left: 133px;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
  width: 473px;
}

.brooklyn-college-lucille .name-1 {
  color: var(--white);
  font-weight: 600;
  left: 133px;
  top: 74px;
  white-space: nowrap;
  width: 473px;
}

.brooklyn-college-lucille .arrow_back-1 {
  height: 28px;
  left: 318px;
  position: absolute;
  top: 32px;
  width: 28px;
}

.brooklyn-college-lucille .group-container {
  height: 99px;
  left: 22px;
  position: absolute;
  top: 18px;
  width: 96px;
}

.brooklyn-college-lucille .overlap-group-1 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 96px;
}

.brooklyn-college-lucille .ellipse-1 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 43.93px;
  height: 88px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 88px;
}

.brooklyn-college-lucille .iconuser {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 96px;
}

.brooklyn-college-lucille .overlap-group4 {
  height: 909px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1179px;
}

.brooklyn-college-lucille .archival-materials {
  left: 735px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 871px;
  width: 332px;
}

.brooklyn-college-lucille .source-new-york-times {
  color: var(--white);
  font-weight: 300;
  left: 642px;
  line-height: normal;
  position: absolute;
  top: 811px;
  width: 537px;
}

.brooklyn-college-lucille .line-88 {
  height: 754px;
  left: 607px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 1px;
}

.brooklyn-college-lucille .name-2 {
  color: var(--amber);
  font-weight: 900;
  left: 642px;
  top: 77px;
  white-space: nowrap;
  width: 513px;
}

.brooklyn-college-lucille .image-48 {
  height: 681px;
  left: 642px;
  top: 118px;
  width: 448px;
}

.brooklyn-college-lucille .rectangle-163 {
  height: 54px;
  left: 5px;
  width: 564px;
}

.brooklyn-college-lucille .name-3 {
  color: var(--amber);
  font-weight: 900;
  left: 143px;
  top: 3px;
  width: 601px;
}

.brooklyn-college-lucille .overlap-group2 {
  height: 450px;
  left: 0;
  position: absolute;
  top: 435px;
  width: 784px;
}

.brooklyn-college-lucille .address {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 593px;
}

.brooklyn-college-lucille .name-4 {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  top: 273px;
  width: 593px;
}

.brooklyn-college-lucille .site-address {
  color: var(--white);
  font-weight: 600;
  left: 33px;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 159px;
}

.brooklyn-college-lucille .year-built {
  color: var(--white);
  font-weight: 600;
  left: 66px;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 117px;
}

.brooklyn-college-lucille .historic-uses {
  color: var(--white);
  font-weight: 600;
  left: 25px;
  line-height: normal;
  position: absolute;
  top: 184px;
  width: 159px;
}

.brooklyn-college-lucille .current-uses {
  color: var(--white);
  font-weight: 600;
  left: 29px;
  line-height: normal;
  position: absolute;
  top: 229px;
  white-space: nowrap;
  width: 154px;
}

.brooklyn-college-lucille .contributor {
  color: var(--white);
  font-weight: 600;
  left: 46px;
  line-height: normal;
  position: absolute;
  top: 273px;
  width: 150px;
}

.brooklyn-college-lucille .rectangle-161 {
  height: 409px;
  left: 0;
  width: 562px;
}

.brooklyn-college-lucille .get-in-touch-with-th {
  color: transparent;
  font-weight: 400;
  left: 25px;
  line-height: 24px;
  position: absolute;
  top: 321px;
  width: 507px;
}

.brooklyn-college-lucille .image-66 {
  height: 314px;
  left: 9px;
  top: 76px;
  width: 553px;
}

.brooklyn-college-lucille .image-source-getty {
  color: var(--white);
  font-weight: 300;
  left: 5px;
  line-height: normal;
  position: absolute;
  top: 398px;
  width: 557px;
}

.brooklyn-college-lucille .iconchevron-down {
  cursor: pointer;
  height: 30px;
  margin-left: 84.0px;
  margin-top: 1px;
  width: 30px;
}

.brooklyn-college-lucille .name-5 {
  line-height: normal;
  position: absolute;
}

.brooklyn-college-lucille .rectangle {
  position: absolute;
  top: 0;
}
