/* screen - brooklyn-girls-high-school-shirley */

.brooklyn-girls-high-school-shirley {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1117px;
  overflow: hidden;
  padding: 18.5px 0;
  width: 1728px;
}

.brooklyn-girls-high-school-shirley .overlap-group-container {
  align-items: center;
  display: flex;
  gap: 759px;
  margin-right: 36.0px;
  min-width: 1604px;
}

.brooklyn-girls-high-school-shirley .overlap-group5 {
  height: 126px;
  position: relative;
  width: 623px;
}

.brooklyn-girls-high-school-shirley .title {
  color: var(--amber);
  font-weight: 900;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 623px;
}

.brooklyn-girls-high-school-shirley .vector {
  height: 126px;
  left: 403px;
  position: absolute;
  top: 0;
  width: 135px;
}

.brooklyn-girls-high-school-shirley .overlap-group8 {
  height: 62px;
  margin-bottom: 6.94px;
  position: relative;
  width: 222px;
}

.brooklyn-girls-high-school-shirley .group-81 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 62px;
  left: 0;
  min-width: 222px;
  position: absolute;
  top: 0;
}

.brooklyn-girls-high-school-shirley .overlap-group {
  align-items: flex-end;
  background-color: var(--amber);
  border-radius: 30px;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  min-width: 220px;
  padding: 3px 30px;
}

.brooklyn-girls-high-school-shirley .overlap-group9 {
  align-self: flex-end;
  height: 836px;
  margin-right: -98px;
  margin-top: 12px;
  position: relative;
  width: 1760px;
}

.brooklyn-girls-high-school-shirley .overlap-group4 {
  height: 836px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1176px;
}

.brooklyn-girls-high-school-shirley .rectangle-162 {
  height: 54px;
  width: 564px;
}

.brooklyn-girls-high-school-shirley .name {
  color: var(--amber);
  font-weight: 900;
  left: 60px;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 601px;
}

.brooklyn-girls-high-school-shirley .overlap-group2 {
  height: 399px;
  left: 2px;
  position: absolute;
  top: 437px;
  width: 779px;
}

.brooklyn-girls-high-school-shirley .rectangle-161 {
  height: 362px;
  width: 562px;
}

.brooklyn-girls-high-school-shirley .overlap-group1 {
  height: 284px;
  left: 20px;
  position: absolute;
  top: 27px;
  width: 759px;
}

.brooklyn-girls-high-school-shirley .overlap-group-1 {
  height: 284px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 751px;
}

.brooklyn-girls-high-school-shirley .number {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 593px;
}

.brooklyn-girls-high-school-shirley .address {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 593px;
}

.brooklyn-girls-high-school-shirley .name-1 {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 137px;
  width: 593px;
}

.brooklyn-girls-high-school-shirley .center-for-brooklyn-history {
  color: var(--amber);
  font-weight: 600;
  left: 158px;
  line-height: normal;
  position: absolute;
  top: 180px;
  width: 593px;
}

.brooklyn-girls-high-school-shirley .site-address {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 454px;
}

.brooklyn-girls-high-school-shirley .contributor {
  color: var(--white);
  font-weight: 600;
  left: 13px;
  line-height: normal;
  position: absolute;
  top: 180px;
  width: 150px;
}

.brooklyn-girls-high-school-shirley .year-built {
  color: var(--white);
  font-weight: 600;
  left: 41px;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 117px;
}

.brooklyn-girls-high-school-shirley .historic-uses {
  color: var(--white);
  font-weight: 600;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 93px;
  width: 159px;
}

.brooklyn-girls-high-school-shirley .current-uses {
  color: var(--white);
  font-weight: 600;
  left: 4px;
  line-height: normal;
  position: absolute;
  top: 137px;
  white-space: nowrap;
  width: 154px;
}

.brooklyn-girls-high-school-shirley .get-in-touch-with-th {
  color: transparent;
  font-weight: 400;
  left: 28px;
  line-height: 24px;
  position: absolute;
  top: 270px;
  width: 507px;
}

.brooklyn-girls-high-school-shirley .image-source-prints {
  left: 639px;
  top: 801px;
  width: 537px;
}

.brooklyn-girls-high-school-shirley .image-47 {
  height: 295px;
  left: 2px;
  position: absolute;
  top: 91px;
  width: 562px;
}

.brooklyn-girls-high-school-shirley .line-88 {
  height: 754px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 1px;
}

.brooklyn-girls-high-school-shirley .image-49 {
  height: 673px;
  left: 639px;
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 439px;
}

.brooklyn-girls-high-school-shirley .name-2 {
  color: var(--amber);
  font-weight: 900;
  left: 639px;
  line-height: normal;
  position: absolute;
  top: 67px;
  white-space: nowrap;
  width: 400px;
}

.brooklyn-girls-high-school-shirley .overlap-group6 {
  align-items: flex-start;
  background-image: url(../img/rectangle-159.svg);
  background-size: 100% 100%;
  display: flex;
  height: 485px;
  left: 1133px;
  min-width: 455px;
  padding: 24px 19px;
  position: absolute;
  top: 117px;
}

.brooklyn-girls-high-school-shirley .name-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 422px;
  width: 412px;
}



.brooklyn-girls-high-school-shirley .overlap-group7 {
  height: 135px;
  left: 1133px;
  position: absolute;
  top: 654px;
  width: 627px;
}

.brooklyn-girls-high-school-shirley .rectangle-160 {
  cursor: pointer;
  height: 135px;
  width: 455px;
}

.brooklyn-girls-high-school-shirley .next-activist {
  color: var(--amber);
  font-weight: 900;
  left: 154px;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
  width: 473px;
}

.brooklyn-girls-high-school-shirley .overlap-group3 {
  height: 99px;
  left: 31px;
  position: absolute;
  top: 21px;
  width: 97px;
}

.brooklyn-girls-high-school-shirley .overlap-group-2 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 97px;
}

.brooklyn-girls-high-school-shirley .ellipse-1 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 44.04px/43.92px;
  height: 88px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 88px;
}

.brooklyn-girls-high-school-shirley .iconuser {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 97px;
}

.brooklyn-girls-high-school-shirley .image-46 {
  height: 83px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 83px;
}

.brooklyn-girls-high-school-shirley .name-4 {
  color: var(--white);
  font-weight: 600;
  left: 154px;
  line-height: normal;
  position: absolute;
  top: 74px;
  white-space: nowrap;
  width: 473px;
}

.brooklyn-girls-high-school-shirley .arrow_back-1 {
  height: 28px;
  left: 339px;
  position: absolute;
  top: 32px;
  width: 28px;
}

.brooklyn-girls-high-school-shirley .image-source-https {
  left: 2px;
  top: 391px;
  width: 398px;
}

.brooklyn-girls-high-school-shirley .archival-materials {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 200.0px;
  margin-top: 25px;
  min-height: 38px;
  width: 332px;
}

.brooklyn-girls-high-school-shirley .iconchevron-down {
  cursor: pointer;
  height: 30px;
  margin-left: 84.0px;
  margin-top: 1px;
  width: 30px;
}

.brooklyn-girls-high-school-shirley .rectangle {
  left: 0;
  position: absolute;
  top: 0;
}
