@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Roboto:300,400,900,600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/673a6a3e2ebc197e5f3f4fcf.673a6a3f2ebc197e5f3f4fd2.a2K2GNI.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.surname-1 {
  left: 158px;
}

.surname-2 {
  left: 145px;
}

.span {
  color: var(--white);
}

.span1 {
  color: var(--amber);
}

.back-to-map {
  color: var(--black);
  font-weight: 600;
  line-height: normal;
  min-height: 42px;
  width: 141px;
}

.arrow_back {
  height: 30px;
  left: 14px;
  position: absolute;
  top: 16px;
  width: 30px;
}

.span1-1 {
  color: var(--amber);
  font-weight: 600;
}

.span2 {
  color: var(--white);
  font-weight: 600;
}

.group {
  align-items: flex-start;
  display: flex;
  position: absolute;
}

.surname-3 {
  color: var(--amber);
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 593px;
}

.public-school {
  color: var(--amber);
  font-weight: 600;
  left: 159px;
  line-height: normal;
  position: absolute;
  top: 93px;
  white-space: nowrap;
  width: 245px;
}

.image-source {
  color: var(--white);
  font-weight: 300;
  line-height: normal;
  position: absolute;
}

.shirleys-yearbook-p {
  color: var(--white);
  font-weight: 600;
  left: 723px;
  line-height: normal;
  position: absolute;
  top: 598px;
  width: 742px;
}

.source-brooklyn-college {
  color: var(--white);
  font-weight: 300;
  left: 830px;
  line-height: normal;
  position: absolute;
  top: 569px;
  width: 723px;
}

.rectangle-164 {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 564px;
}

.x1937-current-site-c {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  line-height: normal;
  position: absolute;
  top: 81px;
  width: 365px;
}

.college {
  color: var(--amber);
  font-weight: 600;
  left: 192px;
  line-height: normal;
  position: absolute;
  top: 184px;
  white-space: nowrap;
  width: 366px;
}

.college-1 {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  line-height: normal;
  position: absolute;
  top: 229px;
  white-space: nowrap;
  width: 272px;
}

.image-67 {
  height: 314px;
  left: 9px;
  top: 76px;
  width: 553px;
}

.image-68 {
  height: 352px;
  left: 830px;
  top: 214px;
  width: 600px;
}

.image {
  object-fit: cover;
  position: absolute;
}

.source-vanity-fair-2020 {
  color: var(--white);
  font-weight: 300;
  left: 639px;
  line-height: normal;
  position: absolute;
  top: 801px;
  width: 537px;
}

.group-23 {
  background-image: url(../img/image-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 83px;
  left: 7px;
  position: absolute;
  top: 8px;
  width: 81px;
}

.event-space {
  color: var(--amber);
  font-weight: 600;
  left: 159px;
  line-height: normal;
  position: absolute;
  top: 93px;
  white-space: nowrap;
  width: 366px;
}

.co-working-space-alpha-space {
  color: var(--amber);
  font-weight: 600;
  left: 145px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 327px;
}

.add-your-story-here {
  color: var(--black);
  font-weight: 400;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 739px;
}