:root { 
  --amber: #ffbf00;
  --black: #000000;
  --eerie-black: #1e1e1e;
  --heavy-metal: #2c2c2c;
  --white: #ffffff;
  --white-2: #ffffff1c;
 
  --font-size-40px: 40px;
  --font-size-l: 36px;
  --font-size-m: 24px;
  --font-size-s: 22px;
  --font-size-xl: 64px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;
  --font-size-xxxs: 12px;
 
  --font-family-inter-regular: "Inter-Regular", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-montserrat-extrabold: "Montserrat-ExtraBold", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-roboto-medium: "Roboto-Medium", Helvetica;
}
.body2 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.header {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0;
}

.larger-subtitle {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.body1 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.source {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
}

.header2 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-40px);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0;
}

.header3 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0;
}

.header4 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0;
}

.text {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.single-linebody-base {
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.roboto-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-white-24px {
  color: var(--white);
  font-family: var(--font-family-roboto-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.montserrat-extra-extra-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat-extrabold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 800;
}
