/* screen - brooklyn-college-shirley */

.brooklyn-college-shirley {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1117px;
  overflow: hidden;
  padding: 5.9px 0;
  width: 1728px;
}

.brooklyn-college-shirley .overlap-group-container {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 759px;
  margin-right: 36.0px;
  margin-top: 13px;
  min-width: 1604px;
}

.brooklyn-college-shirley .overlap-group6 {
  height: 126px;
  position: relative;
  width: 623px;
}

.brooklyn-college-shirley .title {
  color: var(--amber);
  font-weight: 900;
  left: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 623px;
}

.brooklyn-college-shirley .vector {
  height: 126px;
  left: 403px;
  position: absolute;
  top: 0;
  width: 135px;
}

.brooklyn-college-shirley .overlap-group3 {
  height: 62px;
  margin-bottom: 6.94px;
  position: relative;
  width: 222px;
}

.brooklyn-college-shirley .overlap-group {
  align-items: flex-end;
  background-color: var(--amber);
  border-radius: 30px;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  left: 0;
  min-width: 220px;
  padding: 3px 30px;
  position: absolute;
  top: 0;
}

.brooklyn-college-shirley .overlap-group9 {
  height: 918px;
  margin-right: -98px;
  margin-top: 2px;
  position: relative;
  width: 1763px;
}

.brooklyn-college-shirley .overlap-group4 {
  height: 885px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1196px;
}

.brooklyn-college-shirley .name {
  color: var(--amber);
  font-weight: 900;
  left: 659px;
  line-height: normal;
  position: absolute;
  top: 77px;
  white-space: nowrap;
  width: 400px;
}

.brooklyn-college-shirley .line-88 {
  height: 754px;
  left: 607px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 1px;
}

.brooklyn-college-shirley .image-source-prints {
  left: 659px;
  top: 811px;
  width: 537px;
}

.brooklyn-college-shirley .image-59 {
  height: 668px;
  left: 659px;
  top: 127px;
  width: 439px;
}

.brooklyn-college-shirley .rectangle-163 {
  height: 54px;
  left: 5px;
  width: 564px;
}

.brooklyn-college-shirley .name-1 {
  color: var(--amber);
  font-weight: 900;
  left: 143px;
  top: 3px;
  width: 601px;
}

.brooklyn-college-shirley .overlap-group1 {
  height: 450px;
  left: 0;
  position: absolute;
  top: 435px;
  width: 784px;
}

.brooklyn-college-shirley .address {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 593px;
}

.brooklyn-college-shirley .name-2 {
  color: var(--amber);
  font-weight: 600;
  left: 191px;
  top: 273px;
  width: 593px;
}

.brooklyn-college-shirley .site-address {
  color: var(--white);
  font-weight: 600;
  left: 33px;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 159px;
}

.brooklyn-college-shirley .year-built {
  color: var(--white);
  font-weight: 600;
  left: 66px;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 117px;
}

.brooklyn-college-shirley .historic-uses {
  color: var(--white);
  font-weight: 600;
  left: 25px;
  line-height: normal;
  position: absolute;
  top: 184px;
  width: 159px;
}

.brooklyn-college-shirley .current-uses {
  color: var(--white);
  font-weight: 600;
  left: 29px;
  line-height: normal;
  position: absolute;
  top: 229px;
  white-space: nowrap;
  width: 154px;
}

.brooklyn-college-shirley .contributor {
  color: var(--white);
  font-weight: 600;
  left: 46px;
  line-height: normal;
  position: absolute;
  top: 273px;
  width: 150px;
}

.brooklyn-college-shirley .rectangle-161 {
  height: 409px;
  left: 0;
  width: 562px;
}

.brooklyn-college-shirley .get-in-touch-with-th {
  color: transparent;
  font-weight: 400;
  left: 25px;
  line-height: 24px;
  position: absolute;
  top: 321px;
  width: 507px;
}

.brooklyn-college-shirley .image-66 {
  height: 314px;
  left: 9px;
  top: 76px;
  width: 553px;
}

.brooklyn-college-shirley .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/rectangle-159-3.svg);
  background-size: 100% 100%;
  display: flex;
  height: 509px;
  justify-content: flex-end;
  left: 1136px;
  min-width: 455px;
  padding: 23px 22px;
  position: absolute;
  top: 122px;
}

.brooklyn-college-shirley .at-brooklyn-college {
  letter-spacing: 0;
  line-height: normal;
  min-height: 429px;
  width: 402px;
}

.brooklyn-college-shirley .image-source-getty {
  left: 5px;
  top: 398px;
  width: 557px;
}

.brooklyn-college-shirley .archival-materials {
  left: 791px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 880px;
  width: 332px;
}

.brooklyn-college-shirley .overlap-group7 {
  height: 156px;
  left: 1136px;
  position: absolute;
  top: 660px;
  width: 627px;
}

.brooklyn-college-shirley .rectangle-160 {
  cursor: pointer;
  height: 135px;
  left: 0;
  width: 455px;
}

.brooklyn-college-shirley .next-activist {
  color: var(--amber);
  font-weight: 900;
  left: 154px;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 473px;
}

.brooklyn-college-shirley .overlap-group2 {
  height: 99px;
  left: 31px;
  position: absolute;
  top: 21px;
  width: 97px;
}

.brooklyn-college-shirley .overlap-group-1 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 97px;
}

.brooklyn-college-shirley .ellipse-1 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 44.04px/43.92px;
  height: 88px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 88px;
}

.brooklyn-college-shirley .iconuser {
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 97px;
}

.brooklyn-college-shirley .image-46 {
  height: 83px;
  left: 7px;
  top: 8px;
  width: 83px;
}

.brooklyn-college-shirley .name-3 {
  color: var(--white);
  font-weight: 600;
  left: 154px;
  top: 59px;
  width: 250px;
}

.brooklyn-college-shirley .arrow_back-1 {
  height: 28px;
  left: 339px;
  position: absolute;
  top: 21px;
  width: 28px;
}

.brooklyn-college-shirley .overlap-group8 {
  height: 46px;
  margin-right: 182.3px;
  margin-top: 1px;
  position: relative;
  width: 739px;
}

.brooklyn-college-shirley .iconchevron-down {
  cursor: pointer;
  height: 30px;
  left: 140px;
  position: absolute;
  top: 0;
  width: 30px;
}

.brooklyn-college-shirley .name-4 {
  line-height: normal;
  position: absolute;
}

.brooklyn-college-shirley .rectangle {
  position: absolute;
  top: 0;
}
